* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #FEF6FB;
}

.side-bar {
    background-color: #EB5F7C;
    width: 20%;
}

.side-bar h1 {
    color: #fff;
    text-transform: uppercase;
    transform: rotate(-50deg);
    font-size: 64px;
    margin-top: 25%;
}

.main-content {
    width: 80%;
    padding: 64px;
}

.main-content h2 {
    color: #EB5F7C;
}

form {
    margin: 16px 0;
}

form input {
    background-color: #F9DDF2;
    margin: 8px 0 0 0;
    padding: 4px;
    width: 25%;
}

form label, input, button {
    font-size: 16px;
}

form label {
    font-weight: bold;
    color: #EB5F7C;
    margin-top: 16px;
}

form button {
    color: #fff;
    background-color: #EB5F7C;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 8px;
    width: 25%;
    margin-top: 16px;
}

form button:hover {
    box-shadow: 4px 4px 4px dimgrey;
}

form span {
    color: red;
    font-size: 12px;
}