.main-content{
    margin: 16px 10%;
}

.main-content h2 {
    font-size: 24px;
    color: #F04D6E;
    margin: 16px 8px;
}

.products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-list a {
    width: 23%;
    margin: 8px 4px;
    background-color: #fff;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
}

.products-list a:hover {
    box-shadow: 8px 8px 16px #fc8ce477, -8px -8px 16px hsla(313, 88%, 68%, 0.176);
}

.products-list a .card img {
    width: 100%;
}

.products-list a .card h4 {
    margin: 4px 8px;
    color: #F04D6E;
}

.card h5 {
    margin: 0 0 4px 8px;
    color: #2A2026;
}

.primary-content a .card .edit-options {
    margin: 0 0 8px 8px;
    display: flex;
}
