{% extends 'base.html' %}
{% load static %}
<!-- css import -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'home_page.css' %}">
{% endblock %}
<!-- title -->
{% block title%} Style Loft | Homepage {% endblock %}
{% block main-content%}
<div class="main-content">
    <div class="category-container">
        <h2>Latest Products</h2>
        <div class="products-list">
            {% for product in latest %}
            <a href="{% url 'view_product_details' product.id%}">
                <div class="card">
                    <img src="{{product.product_photo.url}}" alt="Product photo">
                    <h4>{{product.product_name}}</h4>
                    <h5>Nrs. {{product.product_price}}</h5>
                </div>
            </a>
            {% empty %}
            <h4>Sorry, there are no latest products.</h4>
            {% endfor %}
        </div>
    </div>
    <div class="category-container">
        <h2>Top Sellors</h2>
        <div class="products-list">
            {% for product in mostselling %}
            <a href="{% url 'view_product_details' product.id%}">
                <div class="card">
                    <img src="{{product.product_photo.url}}" alt="Product photo">
                    <h4>{{product.product_name}}</h4>
                    <h5>Nrs. {{product.product_price}}</h5>
                </div>
            </a>
            {% empty %}
            <h4>Sorry, there are no latest products.</h4>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}